/* filters */

.clx__filters-wrapper {
    /* flex-grow: 1; */
    margin-top: 2.5rem;
    padding: 1rem;
    font-weight:300;

}

.clx__filters-title {
    font-weight: 600;
    border-bottom: 1px solid black;
}

.clx__filters-select {
}

@media (min-width: 1080px) {
    .clx__filters-wrapper {
        max-width: 300px;
        min-width: 250px;
    }
}