.clx__footer {
    grid-area: footer;
    background-color: var(--primary);
}

.clx__group {
    background-color: var(--primary);
    height: 100%;
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-evenly;
}

.clx__footer-logo {
    width: 6rem;
}

.clx__rights {
    color: white;
    display: flex;
}

.clx__social-media  {
    color: white;

}

.clx__social-media a {
    text-decoration: none;
    color: white;
}
