/* header styles */

.clx__header {
    grid-area: header;
    background-color: var(--primary);
}

.clx__navbar {
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0 2rem;
    justify-content: space-between;
}

.clx__avatar-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.clx__navbar-avatar {
    color: white;
    font-size: 2rem;
    margin-top: 0.2rem;
}

.clx__navbar-nameuser {
    color: white;
}

.clx__navbar-logo {
    width: 8rem;
}

@media (min-width: 1440px) {
    .clx__navbar {
        max-width: 1440px;
    }
}