/* wrapper styles */

.clx__grid {
    display: grid;
    grid-template:
                "header header"
                "container container"
                "footer footer"; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px auto 60px;
    height: 100%;
}

/* header styles */

.clx__header {
    grid-area: header;
    background-color: blue;
    padding: 0 2rem;
}

.clx__navbar {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: auto;
    padding: 0.5rem;
}

.clx__navbar-avatar {
    color: white;
    font-size: 2.5rem;

}

@media (min-width: 1440px) {
    .clx__navbar {
        max-width: 1440px;
    }   
}

/* section */

.clx__section {
    grid-area: container;
    padding: 0 2rem;
}

.clx__container {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: auto;
}

@media (min-width: 1440px) {
    .clx__container {
        max-width: 1440px;
    }   
}

/* filters */

.clx__filters-wrapper {
    max-width: 300px;
    min-width: 250px;
    background-color: brown;
    flex-grow: 1;
}

/* cards wrapper */

.clx__cards-wrapper {
    /* background-color: tomato; */
    display: flex;
    flex-grow: 2;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    overflow: hidden;
}

.clx__card {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1rem;
    position: relative;
}

.clx__card-title {
    margin: 0.2rem 0;
}

.clx__rating-wrapper {
    flex-grow: 0.5;
    padding: 0.2rem 0;
}

.clx__rating-wrapper i {
    color: orange;
}

.clx__card-desc {
    flex-grow: 4;
    padding: 0.2rem 0;
    text-align: justify;
}

.clx__card-btn-1 {
    align-self: center;
    font-size: 0.8rem;
    padding: 0.5rem;
    width: 50%;
}

.clx__card-btn-2 {
    font-size: 0.8rem;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
}

/* footer */

.clx__footer {
    grid-area: footer;
    background-color: blue;
}