/* global styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    height: 100%;
}

h1 {
    font-size: 2.074em;
}

h2 {
    font-size: 1.728em;
}

h3 {
    font-size: 1.44em;
}

h4 {
    font-size: 1.2em;
}

/* wrapper styles */

.clx__grid {
    display: grid;
    grid-template:
                "nav nav"
                "main main"
                "ftr ftr"; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px auto 60px;
    height: 100%;
}

/* navbar styles */

.clx__navbar {
    grid-area: nav;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: blue;
    padding: 0.5rem;
}

.clx__navbar-avatar {
    color: white;
    font-size: 2.5rem;

}

/* container */

.clx__container {
    grid-area: main;
    height: 100%;
    display: flex;
    flex-direction: row;
}

/* filters */

.clx__filters {
    max-width: 300px;
    background-color: brown;
    flex-grow: 1;
}

/* cards wrapper */

.clx__cards-wrapper {
    background-color: tomato;
    display: flex;
    padding: 1.5rem;
    flex-grow: 2;
}

.clx__card {
    width: 300px;
    height: 350px;  
    border: 1px solid black;
}

/* footer */

.clx__footer {
    grid-area: ftr;
    background-color: blue;
}